In [ ]:
print("hello world")

hello world

In [ ]:
print("cherry")

cherry

In [ ]:
print("Charan")

Charan

In [ ]:
ashdkjas

In [1]:
# single line comment

st=""" add dd ffa aa lla"""
print(st)

 add dd ffa aa lla

In [3]:
l=[20,30.3,"ntt",3+5j]
print(l)
print(type(l))

[20, 30.3, 'ntt', (3+5j)]
<class 'list'>

In [4]:
# type fn returns the data type class
a=3+4j
print(type(a))

<class 'complex'>

In [5]:
#varriable annotations

name: str = "NTT"
print(name)
print(type(name) )

print(__annotations__['name'])

NTT
<class 'str'>
<class 'str'>

In [6]:
# variable annotation

aa: int = 10
print(aa)

print(__annotations__['aa'])
print(type(aa))

10
<class 'int'>
<class 'int'>

In [ ]:
#indexing
#slicing

var_name [start:stop:step]
#step - can i skip or from where we need to start
#default starts with 0
#stop-1
#step-1

In [8]:
name: str ="BANGALORE"
name[1:3:1]
name[-1:-6:-1] #negative slicing
#we need to add stop+1
name [1:6:-1]
name[3:0:-1]

'GNA'

In [15]:
s="BANGALORE"
print(s[3:0:-1])
print(s[-9:7:1])

GNA
BANGALO

In [20]:
i=int(input("Enter a Number:"))
a=1
while a<=10 :
  b=i*a
  print(i,"x",a,"=",b)
  a=a+1

Enter a Number:7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [19]:
num = int(input("enter a number"))

i=1

while i<10:

 print(i*num)
 i=i+1

enter a number6
6
12
18
24
30
36
42
48
54

In [25]:
# for loop
s = "john"

for i in s:
  print(i)

j
o
h
n

In [2]:
# split method

s = "I live in mumbai"
#k= w.split(' ')
w= "india,usa,australia"
k= w.split(',')
print(k)

['india', 'usa', 'australia']

In [4]:
#List

l1=[10,20,3.14,"NTT DATA",2+3j,[100,200,300]]
print(l1)
print(type(l1))

print(l1[5][1])
print(l1[0],l1[1],l1[-2])

[10, 20, 3.14, 'NTT DATA', (2+3j), [100, 200, 300]]
<class 'list'>
200
10 20 (2+3j)

In [8]:
#slicing in list

l1=[10,20,3.14,"NTT DATA",2+3j,[100,200,300]]

print(l1[0:4])
print(l1[0:4:2])
print(l1[::])
print(l1[::-1])

[10, 20, 3.14, 'NTT DATA']
[10, 3.14]
[10, 20, 3.14, 'NTT DATA', (2+3j), [100, 200, 300]]
[[100, 200, 300], (2+3j), 'NTT DATA', 3.14, 20, 10]

In [9]:
#concatenation of list

l1=[10,20,30]
l2=[100,200,300]
l3=l1+l2
print(l1)
print(l2)
print(l3)

print(l1+l2)
print(l3)

[10, 20, 30]
[100, 200, 300]
[10, 20, 30, 100, 200, 300]
[10, 20, 30, 100, 200, 300]
[10, 20, 30, 100, 200, 300]

In [10]:
#mulitplication of list

l1=[10,20,30]
print(l1[2]*3)
print(l1*3)

90
[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [11]:
#iteration of list

l1=[10,20,30,40,50]
 for i in l1;
 print(i+5)

IndentationError: unexpected indent (<ipython-input-11-85994325ec0f>, line 4)

In [12]:
#membership operator

print(10 in [10,20,30])
print(100 in [10,20,30])
print (10 not in [10,20,30])
print (100 not in [10,20,30])

True
False
False
True

In [15]:
#deletion of list

l1=[10,20,30,40]
print(l1)
del l1
print(l1)
#del l1[1]
#print(l1)

[10, 20, 30, 40]

NameError: name 'l1' is not defined

In [22]:
#inbuilt functions
#max
#donot use mixed data types for max function
#max(iterable,key,default)

l1=[10,200,30,500,4]
print(max(l1))

l2=["aaa","bbbb","cccc","dddd"]
print(max(l2))

l3 = [10,20,"nttdata"]
#print(max(l3))

l4=["aaa","bbbb","cccc","dddd"]
print(max(l4,key = len))

500
dddd
bbbb

In [25]:
l1=[10,200,30,500,4]

l1.append(50)
l1.append(50)
l1.append(60)
l1.append(40)

print(l1)

[10, 200, 30, 500, 4, 50, 50, 60, 40]

In [27]:
l1=[10,20]

for i in range(6):
    i=int(input("Enter the element"))
    l1.append(i)
print(l1)

Enter the element6
Enter the element4
Enter the element7
Enter the element8
Enter the element9
Enter the element0
[10, 20, 6, 4, 7, 8, 9, 0]

In [30]:
#extend method
l1=[10,20]
l2=[13,24]

l1.extend([11,30])
print(l1)

[10, 20, 11, 30]

In [33]:
#insert method

l1=[10,20]
l1.insert(0,100)
print(l1)

[100, 10, 20]

In [34]:
#remove method

l1=[10,10,3,20,50,8,9]
l1.remove(10)
print(l1)

[10, 3, 20, 50, 8, 9]

In [36]:
#pop method
#remove works on value
#pop works on index

l1=[10,20,30,40,50]
res=l1.pop()
print(res)
print(l1)

res=l1.pop(2)
print(res)
print(l1)

50
[10, 20, 30, 40]
30
[10, 20, 40]

In [37]:
#clear

l1=[10,20,30,40,50]
print(l1)
l1.clear()
print(l1)

[10, 20, 30, 40, 50]
[]

In [38]:
#clear

l1=[10,10,20,30,40,10,50]
print(l1)
l1.clear(10)
print(l1)

[10, 10, 20, 30, 40, 10, 50]

TypeError: list.clear() takes no arguments (1 given)

In [39]:
#program to remove duplicate elements

l1=[10,20,30,10,20,45]
ulist = [] #unique list

for i in l1:
  if i not in ulist:
    ulist.append(i)
print(l1)
print(ulist)

[10, 20, 30, 10, 20, 45]
[10, 20, 30, 45]

In [1]:
#list method

l1=list()
print(l1)
print(type(l1))

[]
<class 'list'>

In [3]:
s="NTT DATA"
l2=list(s)
print(l2)

['N', 'T', 'T', ' ', 'D', 'A', 'T', 'A']

In [4]:
l3=list(range(1,7))
print(l3)

[1, 2, 3, 4, 5, 6]

In [11]:
#Print the occurance of element

l1=[1,1,2,3,4,4,5,6,6,6]
l2=[]
l3=[]
for num in l1:
  if num not in l2:
     l2.append(num)
     l3.append(l1.count(num))
print(l2)
print(l3)

[1, 2, 3, 4, 5, 6]
[2, 1, 1, 2, 1, 3]

In [22]:
#print occurance
l1=[1,1,2,3,4,4,5,6,6,6]
uele=[]
count =[]

for i in l1:
  if i not in uele:
#print occurance
l1=[1,1,2,3,4,4,5,6,6,6]
uele=[]
count =[]

for i in l1:
  if i not in uele:
   uele.append(i)
   count.append(1)
  else:
   index = uele.index(i)
   count[index]=count[index]+1
print(uele)
print(count)
print(uele)
print(count)

SyntaxError: expected ':' (<ipython-input-22-f258c7dcda39>, line 10)

In [ ]:
#tuple