In [ ]:
print("hello world")

hello world

In [ ]:
print("cherry")

cherry

In [ ]:
print("Charan")

Charan

In [ ]:
ashdkjas

In [1]:
# single line comment

st=""" add dd ffa aa lla"""
print(st)

 add dd ffa aa lla

In [3]:
l=[20,30.3,"ntt",3+5j]
print(l)
print(type(l))

[20, 30.3, 'ntt', (3+5j)]
<class 'list'>

In [4]:
# type fn returns the data type class
a=3+4j
print(type(a))

<class 'complex'>

In [5]:
#varriable annotations

name: str = "NTT"
print(name)
print(type(name) )

print(__annotations__['name'])

NTT
<class 'str'>
<class 'str'>

In [6]:
# variable annotation

aa: int = 10
print(aa)

print(__annotations__['aa'])
print(type(aa))

10
<class 'int'>
<class 'int'>

In [ ]:
#indexing
#slicing

var_name [start:stop:step]
#step - can i skip or from where we need to start
#default starts with 0
#stop-1
#step-1

In [8]:
name: str ="BANGALORE"
name[1:3:1]
name[-1:-6:-1] #negative slicing
#we need to add stop+1
name [1:6:-1]
name[3:0:-1]

'GNA'

In [15]:
s="BANGALORE"
print(s[3:0:-1])
print(s[-9:7:1])

GNA
BANGALO

In [20]:
i=int(input("Enter a Number:"))
a=1
while a<=10 :
  b=i*a
  print(i,"x",a,"=",b)
  a=a+1

Enter a Number:7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [19]:
num = int(input("enter a number"))

i=1

while i<10:

 print(i*num)
 i=i+1

enter a number6
6
12
18
24
30
36
42
48
54

In [25]:
# for loop
s = "john"

for i in s:
  print(i)

j
o
h
n